<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
    <div class="section">
        <div class="details">
            <a href="http://localhost:3000/client">Go to Home</a>
            <h3>Details</h3>
            <h4>Name: <%=result[0].username%></h4>
            <h4>Id: <%=result[0].id%></h4>
            <h4>Email: <%=result[0].email%></h4>
        </div>
    </div>
</body>
</html>